 .u-section-1 {
  background-image: linear-gradient(#b5b398, #ebe6e0);
}

.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 503px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-family: Breathing;
  font-size: 4.5rem;
  background-image: none;
  margin: 120px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.875rem;
  background-image: none;
  font-weight: 700;
  margin: 56px auto 0;
  padding: 18px 63px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 82deg;
    --animation-custom_in-scale: 1;
    min-height: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 129px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 38px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 40px;
    margin-bottom: -20px;
    padding: 7px 22px 8px 21px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 788px;
}

.u-section-2 .u-image-1 {
  width: 939px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-image-1 {
    width: 718px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-2 .u-image-1 {
    width: 717px;
    height: 285px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 788px;
}

.u-section-3 .u-image-1 {
  width: 934px;
  height: 783px;
  margin: 3px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 604px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 285px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 788px;
}

.u-section-4 .u-image-1 {
  width: 939px;
  height: 788px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 285px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 788px;
}

.u-section-5 .u-image-1 {
  width: 938px;
  height: 787px;
  margin: 1px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: 786px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 603px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 452px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 285px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 788px;
}

.u-section-6 .u-image-1 {
  width: 943px;
  height: 791px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 788px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 285px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 788px;
}

.u-section-7 .u-image-1 {
  width: 940px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-7 .u-image-1 {
    height: 604px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-7 .u-image-1 {
    height: 453px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-7 .u-image-1 {
    height: 285px;
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 788px;
}

.u-section-8 .u-image-1 {
  width: 940px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    height: 788px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-8 .u-image-1 {
    height: 604px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 453px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-8 .u-image-1 {
    height: 285px;
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 788px;
}

.u-section-9 .u-image-1 {
  object-position: 50% 1.2%;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 285px;
  }
} .u-section-10 {
  background-image: linear-gradient(#b5b398, #565e45);
}

.u-section-10 .u-sheet-1 {
  min-height: 414px;
}

.u-section-10 .u-list-1 {
  width: 1034px;
  margin: 100px auto 75px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
  min-height: 214px;
  grid-gap: 32px 32px;
}

.u-section-10 .u-list-item-1 {
  background-image: linear-gradient(#565e45, #b5b398);
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 1px 20px;
}

.u-section-10 .u-text-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 57px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-10 .u-list-item-2 {
  background-image: linear-gradient(#565e45, #b5b398);
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-2 {
  padding: 1px 20px;
}

.u-section-10 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 57px auto 0;
}

.u-section-10 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-10 .u-list-item-3 {
  background-image: linear-gradient(#565e45, #b5b398);
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-3 {
  padding: 1px 20px;
}

.u-section-10 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 57px auto 0;
}

.u-section-10 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-10 .u-list-item-4 {
  background-image: linear-gradient(#565e45, #b5b398);
  box-shadow: 5px 5px 23px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-4 {
  padding: 1px 20px;
}

.u-section-10 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 57px auto 0;
}

.u-section-10 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    width: 940px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 24px));
    min-height: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    min-height: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 6px;
    margin-bottom: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.5px) calc(50% - 9.5px);
    min-height: 442px;
    grid-gap: 19px 19px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-10 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-10 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-10 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-10 .u-text-8 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 789px;
}

.u-section-11 .u-image-1 {
  width: 943px;
  height: 791px;
  margin: -1px auto 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-11 .u-image-1 {
    width: 940px;
    height: 788px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 285px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 788px;
}

.u-section-12 .u-image-1 {
  width: 940px;
}

.u-section-12 .u-image-2 {
  width: 200px;
  height: 168px;
  margin: 319px auto 0;
}

.u-section-12 .u-image-3 {
  width: 125px;
  height: 105px;
  margin: -4px auto 60px;
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-12 .u-image-1 {
    height: 604px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-12 .u-image-2 {
    margin-top: -386px;
  }

  .u-section-12 .u-image-3 {
    margin-top: -33px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-12 .u-image-1 {
    height: 453px;
    width: 540px;
  }

  .u-section-12 .u-image-2 {
    width: 116px;
    height: 97px;
    margin-top: -275px;
  }

  .u-section-12 .u-image-3 {
    width: 80px;
    height: 67px;
    margin-top: -4px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-12 .u-image-1 {
    height: 285px;
    width: 340px;
  }

  .u-section-12 .u-image-2 {
    width: 70px;
    height: 60px;
    margin-top: -172px;
  }

  .u-section-12 .u-image-3 {
    width: 47px;
    height: 40px;
    margin-top: 0;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 788px;
}

.u-section-13 .u-image-1 {
  width: 940px;
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-13 .u-image-1 {
    width: 722px;
    height: 605px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 -1px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 453px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 285px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 809px;
}

.u-section-14 .u-image-1 {
  width: 940px;
}

.u-section-14 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  background-image: none;
  margin: 223px 42px 0 636px;
}

.u-section-14 .u-group-1 {
  width: 342px;
  background-image: none;
  min-height: 212px;
  margin: -118px auto 60px 128px;
}

.u-section-14 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-14 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 19px 20px 0;
}

.u-section-14 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 21px 21px 0;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-14 .u-icon-1 {
  font-size: 1.25em;
}

.u-section-14 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 20px;
}

.u-section-14 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-14 .u-icon-2 {
  font-size: 1.25em;
}

.u-section-14 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 20px;
}

.u-section-14 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-14 .u-icon-3 {
  font-size: 1.25em;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-right: 0;
    margin-left: 478px;
  }

  .u-section-14 .u-group-1 {
    margin-top: -121px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-14 .u-image-1 {
    width: 678px;
    height: 604px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 -2px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: -511px;
    margin-left: 378px;
  }

  .u-section-14 .u-group-1 {
    margin-top: -221px;
    margin-left: 0;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-top: 27px;
    font-size: 1.25rem;
  }

  .u-section-14 .u-text-3 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
    height: 453px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -377px;
    margin-left: 283px;
  }

  .u-section-14 .u-group-1 {
    width: 253px;
    min-height: 147px;
    margin-top: -157px;
    margin-left: 17px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-14 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-14 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-14 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-left: -1px;
  }

  .u-section-14 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-14 .u-text-5 {
    width: auto;
    margin-left: 0;
  }

  .u-section-14 .u-btn-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 285px;
  }

  .u-section-14 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -242px;
    margin-left: 182px;
  }

  .u-section-14 .u-group-1 {
    width: 170px;
    min-height: 79px;
    margin-top: -62px;
    margin-left: 3px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-14 .u-text-3 {
    margin-top: -11px;
    margin-right: 20px;
  }

  .u-section-14 .u-btn-1 {
    font-size: 0.625rem;
  }

  .u-section-14 .u-text-4 {
    margin-top: -14px;
    margin-left: 0;
  }

  .u-section-14 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-14 .u-text-5 {
    margin-top: -17px;
  }

  .u-section-14 .u-btn-3 {
    font-size: 0.625rem;
  }
}@font-face {
  font-family: 'Breathing';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Breathing.ttf);
}